In [131]:
import pandas as pd
import numpy as np

In [137]:
df = pd.read_csv('../ai/HD-Patients-1.csv')

In [138]:
df.replace('?', np.nan, inplace=True)

In [155]:
new = df.dropna(axis=1)

In [145]:
df.to_csv('bersih.csv')

/home/asus/.local/lib/python3.10/site-packages/pandas/core/internals/blocks.py:2323: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)

In [156]:
new

       id  ccf  age  sex  painloc  painexer  relrest  cp
0    1254    0   40    1        1         0        0   2
1    1255    0   49    0        1         0        0   3
2    1256    0   37    1        1         0        0   2
3    1257    0   48    0        1         1        1   4
4    1258    0   54    1        1         0        1   3
..    ...  ...  ...  ...      ...       ...      ...  ..
289  1053    0   48    0        0         0        0   2
290  1054    0   36    1        1         0        0   2
291  5001    0   48    1        0         0        0   3
292  5000    0   47    0        0         0        0   2
293  5002    0   53    1        1         1        1   4

[294 rows x 8 columns]

In [81]:
import pandas as pd
import numpy as np

# Membuat dataframe contoh dengan nilai null yang ditulis dengan simbol tertentu
df = pd.DataFrame({'A': [1, 2, 'N/A', 4],
                   'B': [5, '?', 7, 8],
                   'C': [9, 10, np.nan, 12]})

# Mengganti simbol tertentu dengan nilai null
df.replace(['N/A', '?'], np.nan, inplace=True)

# Membersihkan nilai null dengan fungsi dropna()
df_clean = df.dropna()

# Menyimpan dataframe hasil cleaning ke dalam file CSV
df_clean.to_csv('data_clean.csv', index=False)

# Menampilkan dataframe hasil cleaning
print("Dataframe hasil cleaning:\n", df_clean)

Dataframe hasil cleaning:
      A    B     C
0  1.0  5.0   9.0
3  4.0  8.0  12.0